{% extends "40x.html" %}

{% block title %} - {% trans "Forbidden" %}{% endblock %}

{% block content %}
  <div id="right_content">
    <div id="page_head">
      <h2 id="page_heading">{% trans "Forbidden" %}</h2>
      <p id="page_description"><p><a href="http://status.kili.io">Check the Kili status overview</a></p>{% trans "You do not have the required privileges to access this content.
      If you believe this message to be in error, please contact your project manager." %}</p>
    </div>
  </div>
{% endblock %}
