.topbar {
    background: #f2f2f2;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px 15px 0px;
}

#user_info {
    *{margin-left: 15px;}

    #balance{
        color: #3c763d;
        font-weight:bold;
        &.low{
            color: #a94442 !important;
        } 
    }

    #user_name{
       font-weight:bold !important;
    }
}
