# Horizon and OpenStack Dashboard requirements
Babel==1.3
Django==1.6.2
Jinja2==2.7.2
MarkupSafe==0.19
MySQL-python==1.2.5
PyYAML==3.11
Pygments==1.6
South==0.8.4
Sphinx==1.1.3
amqp==1.4.4
anyjson==0.3.3
billiard==3.3.0.16
celery==3.1.10
cffi==0.8.2
cliff==1.5.2
cmd2==0.6.7
colorama==0.2.7
coverage==3.7.1
cryptography==0.3
-e git+git@github.com:replay/django-allauth.git@c1e046b1c3a9170cac67807e1eca9ce2f88e1b86#egg=django_allauth-master
django-appconf==0.6
django-compressor==1.3
django-nose==1.2
django-openstack-auth==1.1.5
docutils==0.9.1
eventlet==0.14.0
extras==0.0.3
flake8==2.0
greenlet==0.4.2
hacking==0.8.1
httplib2==0.8
iso8601==0.1.10
jsonpatch==1.5
jsonpointer==1.3
jsonschema==2.3.0
kombu==3.0.14
lesscpy==0.10.1
lockfile==0.9.1
lxml==3.3.3
mccabe==0.2.1
mox==0.5.3
netaddr==0.7.11
nose==1.3.1
nose-exclude==0.2.0
nosehtmloutput==0.0.5
nosexcover==1.0.10
oauthlib==0.6.1
openstack.nose-plugin==0.11
oslo.config==1.2.1
oslo.sphinx==1.1
oslosphinx==2.1.0
pbr==0.8.0
pep8==1.4.5
ply==3.4
prettytable==0.7.2
pyOpenSSL==0.14
pycparser==2.10
pyflakes==0.7.3
pyparsing==2.0.1
python-ceilometerclient==1.0.10
python-cinderclient==1.0.8
python-glanceclient==0.12.0
python-heatclient==0.2.8
python-keystoneclient==0.7.1
python-mimeparse==0.1.4
python-neutronclient==2.3.4
python-novaclient==2.17.0
python-openid==2.2.5
python-swiftclient==2.0.3
python-troveclient==1.0.4
pytz==2014.2
requests==2.2.1
requests-oauthlib==0.4.0
selenium==2.41.0
simplejson==3.3.3
six==1.6.1
stevedore==0.15
termcolor==1.1.0
testtools==0.9.35
warlock==1.1.0
wsgiref==0.1.2

# Kili requirements
-e git+https://github.com/kili/horizon.git#egg=horizon==master
django-allauth
South
celery
MySQL-python
python-memcached
