# Horizon and OpenStack Dashboard requirements
Babel==1.3
Django==1.6.2
PyYAML==3.11
amqp==1.4.4
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.16
cffi==0.8.2
cliff==1.6.0
cmd2==0.6.7
cryptography==0.3
distribute==0.6.24
django-appconf==0.6
django-compressor==1.3
django-openstack-auth==1.1.5
eventlet==0.14.0
greenlet==0.4.2
httplib2==0.8
iso8601==0.1.10
jsonpatch==1.5
jsonpointer==1.3
jsonschema==2.3.0
kombu==3.0.14
lesscpy==0.10.1
lockfile==0.9.1
netaddr==0.7.11
oauthlib==0.6.1
oslo.config==1.3.0
pbr==0.8.0
ply==3.4
prettytable==0.7.2
pyOpenSSL==0.14
pycparser==2.10
pyparsing==2.0.1
python-ceilometerclient==1.0.10
python-cinderclient==1.0.8
python-glanceclient==0.12.0
python-heatclient==0.2.8
python-keystoneclient==0.7.1
python-neutronclient==2.3.4
python-novaclient==2.17.0
python-openid==2.2.5
python-swiftclient==2.0.3
python-troveclient==1.0.4
pytz==2014.2
requests==2.2.1
requests-oauthlib==0.4.0
simplejson==3.4.0
six==1.6.1
stevedore==0.15
warlock==1.1.0
wsgiref==0.1.2

# Kili requirements
-e git+https://github.com/kili/horizon.git#egg=horizon==master
django-allauth
South
celery
MySQL-python
python-memcached
