{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}{% include "_stylesheets.html" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row large-rounded">
        <div id="" class="login ">
            <div class="modal-header" align="center">
               <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
            </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="modal-body clearfix">
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        </div>
        <div class="modal-footer" ></div>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="modal-body clearfix">
                    {% block modal-body %}
                    <fieldset>
                        <style>.errorlist{color:red}</style>
                        {{ form.as_p }}
                    </fieldset>
                    {% endblock %}
                </div>
                <div class="modal-footer" >
                    <input type="submit" name="action" value="{% trans "change password" %}" class="btn btn-primary pull-right"/>
                </div>
            </form>
        {% else %}
            <div class="modal-body clearfix"><p>{% trans 'Your password is now changed.' %}</p></div>
            <div class="modal-footer" ></div>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}

