{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}{% include "_stylesheets.html" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row large-rounded">
        <div id="" class="modal login">
            <div class="modal-header" align="center">
                 <h3>{% trans "Change Password" %}</h3>
            </div>
            <div class="modal-body clearfix" align="center">
                 <p>{% trans 'Your password is now changed.' %}</p>
            </div>
            <div class="modal-footer" ></div>
        </div>
    </div>
</div>
{% endblock %}
