{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}{% include "_stylesheets.html" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row large-rounded">
        <div id="" class="modal login">
        <div class="modal-header" align="center">
            <h3>{% trans "Password Reset" %}</h3>
        </div>
        <div class="modal-body clearfix">
        
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
        <div class="modal-footer" ></div>
    </div>
</div>
{% endblock %}
