{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %} - {% endblock %}
{% block extra_head %}{% include "_stylesheets.html" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row large-rounded">
        <div id="" class="login ">
        <div class="modal-header" align="center">
            <h3>{% trans "Change Password" %}</h1>
        </div>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
            <div class="modal-body clearfix">
            {% block modal-body %}
                <fieldset>
                    <style>.errorlist{color:red}</style>
                    {{ form.as_p }}
                </fieldset>
            {% endblock %}
            </div>
            <div class="modal-footer" >
               <button type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

