{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}id_add_funds_form{% endblock %}
{% block form_action %}payments/cards/addfunds{% endblock %}

{% block modal_id %}id_add_card_modal{% endblock %}
{% block modal-header %}{% trans "Add funds" %}{% endblock %}

{% block modal-body %}
<div id="stripe_add_card_status" class="alert alert-error" data-hide="true" ></div>
<style>[data-hide="true"]{display: none;}</style>
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
  Enter the amount <b>in US Dollars</b> that you would like to top-up your Kili account.<br>This will be deducted from your default credit card.<br>Note that the minimum transferable amount is 15 USD.<br>
</div>
{% endblock %}

{% block modal-footer %}
<input id="id_submit" class="btn btn-primary pull-right" type="submit" value="{% trans "Transfer" %}" />
<a href="{% url 'horizon:billing:payments:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
