{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}id_transaction_code_form{% endblock %}
{% block form_action %}payments/mobilemoney/transactioncode{% endblock %}

{% block modal_id %}id_add_card_modal{% endblock %}
{% block modal-header %}{% trans "Enter Transaction Code" %}{% endblock %}

{% block modal-body %}
<div id="stripe_add_card_status" class="alert alert-error" data-hide="true" ></div>
<style>[data-hide="true"]{display: none;}</style>
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
    <h5>
        NB. Be advised that we get transaction notifications from our
        <a href="http://www.kopokopo.co.ke/">mobile pament processor </a>
        atleast 1 hour after payments have been made. Incase you need 
        to expedite a mobile payment, feel free to
        <a href="mailto:help@kili.io">reach out</a>
    </h5>
</div>
<div class="right">
    <p>Enter the mobile money transaction code you received via sms.</p> 
    <p>This action will transfer unclaimed funds previously paid via
    numbers that aren't tied to your account.</p>
</div>
{% endblock %}

{% block modal-footer %}
<input id="id_submit" class="btn btn-primary pull-right" type="submit" value="{% trans "Submit Transaction Code" %}" />
<a href="/" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
