{% extends 'base.html' %}
{% load render_integration from billing_tags %}
{% load i18n %}
{% block title %}{% trans "Add Card" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title=_("Add Card") %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <style>[data-hide="true"]{display: none;}</style>
    <script>
    Stripe.setPublishableKey('{{ integration.publishable_key }}');
    </script>
{% endblock page_header %}

{% block main %}
    {% include 'billing_app/payments/_add_card.html' %}
{% endblock %}
