{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Manage Payments" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Manage Payments") %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel=    "stylesheet">
{% endblock page_header %}

{% block main %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script>Stripe.setPublishableKey('{{ stripe_obj.publishable_key }}');</script>
{% comment %}
<div id="mpesa-numbers">
    <div class="page-header"> 
        <h1>Mobile Money</h1>
        <img src="/static/billing_app/img/lipa_na_mpesa.png" />
    </div>
{{ mobile_money_table.render }}
</div>
<hr/>
{% endcomment %}
<div id="credit-cards">
    <div class="page-header">
        <h1>Credit/Debit Cards
            <img src="/static/billing_app/img/credit-cards.gif" style="margin-right:10px"/>
            <img src="/static/billing_app/img/powered_by_stripe.png" />
        </h1>
    </div>
{{ cards_table.render }}
</div>
<hr/>
{% endblock %}

