{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Manage Payments" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Manage Payments") %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel=    "stylesheet">
{% endblock page_header %}

{% block main %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script>Stripe.setPublishableKey('{{ stripe_obj.publishable_key }}');</script>
<div id="mpesa-numbers" class="paygate-section">
    <h1 class="paygate-section-header">M-Pesa
        <img src="/static/img/lipa_na_mpesa1.png" />
    </h1>
{{ mobile_money_table.render }}
</div>
<div id="credit-cards" class="paygate-section">
    <h1 class="paygate-section-header">Credit/Debit Cards
        <img src="/static/img/credit-cards.gif" />
        <img src="/static/img/powered_by_stripe.png" />
    </h1>
{{ cards_table.render }}
</div>
{% endblock %}

