{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Resource Usage" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Resource Usage") %}
{% endblock page_header %}

{% block main %}
<form action="?" method="get" id="date_form" class="form-horizontal">
  <div class="datepicker">
    {% blocktrans with start=form.start end=form.end %}<span>From: {{ start }} </span><span>To: {{ end }} </span>{% endblocktrans %}
    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    <span>* All prices are calculated based on the current rates</span>
  </div>
</form>

{{ instances_table.render }}
{% endblock %}

