{% extends "billing/payments/_payment_form_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_id %}id_add_card_form{% endblock %}


{% block modal-body %}
<div id="stripe_error" class="alert alert-error" data-hide="true" ></div>
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <p>
        <img src="/static/img/credit-cards.gif" class="pull-right">
        <div class="clearfix"></div>
        Your credit card number is the sequence of digits located 
        near the vertical center on the front of your card.
    </p>
    <p>
        <img src="/static/img/card_cvc.png" /><br>
        On <b>VISA, MasterCard (&amp; others)</b>, you can find the security code
        (CVC, CCV, CVD, CVN or CVVC) on the back of your credit or debit card. 
        It is typically a separate group of 3 digits to the right of the 
        signature strip.<br>
        On <b>American Express</b> cards, the card security code is a printed group of 
        four digits on the front towards the right of the card.
    </p>
    <b>Note:</b> In order to verify your card, there will be a charge of 1 USD followed by a refund of the same amount within 5 to 10 business days.
</div>
<style>[data-hide="true"]{ display:none; }</style>
{% endblock %}

{% block modal-footer %}
<input id="id_submit_card" class="btn btn-primary pull-right" type="submit" value="{% trans "Add Card" %}" />
<a href="{% url 'horizon:billing:payments:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
<h2 id="stripe_progress_indicator" data-hide="true" style="margin:0 3px"><i class="fa fa-refresh fa-spin pull-right"></i></h2>
<script>
$("#id_add_card_form").submit(function(event) {
        $("#stripe_progress_indicator").get(0).dataset.hide = "false";
        $("#stripe_error").get(0).dataset.hide = "true";
        Stripe.createToken({
            number: $('#id_credit_card_number').val(),
            cvc: $('#id_credit_card_cvc').val(),
            exp_month: $('#id_credit_card_expiration_month').val(),
            exp_year: $('#id_credit_card_expiration_year').val()
            }, 0, 
            function (status, response) {
                $("#stripe_progress_indicator").get(0).dataset.hide = "true";
                if (response.error) {
                    $("#stripe_error").get(0).dataset.hide = "false";
                    $("#stripe_error").html(response.error.message);
                    $("#stripe_error").html(response.error.message);
                    $("#id_submit_card").removeAttr("disabled");
                    $("#id_submit_card").removeClass("disabled");
                    return;
                }
                var token = response['id'];
                $("#id_add_card_form input[name=stripeToken]").val(token);
                var CCNum = $("#id_add_card_form input[name=credit_card_number]").val();
                var redactedCCNum = CCNum.substring(CCNum.length-4, CCNum.length);
                $("#id_add_card_form input[name=last4]").val(redactedCCNum);
                $("#id_add_card_form input[name=credit_card_number]").val(redactedCCNum);
                $("#id_add_card_form input[name=credit_card_cvc]").val("xxx");
                $("#id_add_card_form input[name=stripe_card_token]").val(token);
                $("#id_add_card_form").get(0).submit();
            }
        );
        return false;
 });
</script>
{% endblock %}
